Source: ros-kinetic-astra-launch
Section: misc
Priority: extra
Maintainer: Tim Liu <liuhua@orbbec.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin
Homepage: 
Standards-Version: 3.9.2

Package: ros-kinetic-astra-launch
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-astra-camera, ros-kinetic-depth-image-proc, ros-kinetic-image-proc, ros-kinetic-nodelet, ros-kinetic-rgbd-launch, ros-kinetic-tf
Description: Drivers for Orbbec Astra Devices.
